<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thumbnailgeneratorfun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/94835b1f-0445-4450-a84d-deef706f086e/resourceGroups/rgmicroservice/providers/Microsoft.Web/sites/thumbnailgeneratorfun</ResourceId>
    <UserName>$thumbnailgeneratorfun</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://thumbnailgeneratorfun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>